<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{problem.title}} - Online Judge</title>
</head>

<body>
    <div>
        <div>
            <span>{{problem.id}}.</span>
            <span>{{ problem.title}}</span>
            <span>|| {{ problem.difficulty}}</span>
        </div>
        <br>
        <div>Description : {{ problem.description}}</div>
    </div>
</body>

</html>